config {
    // nf-test directory used to create temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    testsDir "."

    profile "test"

    configFile "tests/nextflow.config"
    
    // ignore tests coming from the nf-core/modules repo
    ignore 'modules/nf-core/**/tests/*', 'subworkflows/nf-core/**/tests/*'

    profile "docker"

    autoSort true

    // load the necessary plugins
    plugins {
        load "nft-utils@0.0.3"
    }
}
