/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for specify array option per process
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Each process gets assigned a default array value.

    Use as follows:
        nextflow run nf-core/reportho -profile array,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {

    // ----------------------
    // Ortholog finding
    // ----------------------

    withName: 'IDENTIFY_SEQ_ONLINE|WRITE_SEQINFO' {
        array = { params.array_size }
    }

    withName: 'FETCH_OMA_GROUP_LOCAL|FETCH_OMA_GROUP_ONLINE' {
        array = { params.array_size }
    }

    withName: 'FETCH_PANTHER_GROUP_LOCAL|FETCH_PANTHER_GROUP_ONLINE' {
        array = { params.array_size }
    }

    withName: 'FETCH_INSPECTOR_GROUP_ONLINE' {
        array = { params.array_size }
    }

    withName: 'FETCH_EGGNOG_GROUP_LOCAL' {
        array = { params.array_size }
    }

    // ----------------------
    // Sequence retrieval
    // ----------------------

    withName: 'SPLIT_ID_FORMAT' {
        array = { params.array_size }
    }

    withName: 'FETCH_UNIPROT_SEQUENCES' {
        array = { params.array_size }
    }

    withName: 'FETCH_ENSEMBL_IDMAP' {
        array = { params.array_size }
    }

    withName: 'FETCH_ENSEMBL_SEQUENCES' {
        array = { params.array_size }
    }

    withName: 'FETCH_REFSEQ_SEQUENCES' {
        array = { params.array_size }
    }

    withName: 'FETCH_OMA_SEQUENCES' {
        array = { params.array_size }
    }

    withName: 'CONCAT_FASTA' {
        array = { params.array_size }
    }

    withName: 'CONCAT_HITS' {
        array = { params.array_size }
    }

    withName: 'CONCAT_MISSES' {
        array = { params.array_size }
    }

    withName: 'MERGE_FASTA_IDS' {
        array = { params.array_size }
    }

    // ----------------------
    // ID merging
    // ----------------------

    withName: 'SPLIT_TAXIDS' {
        array = { params.array_size }
    }

    withName: 'MERGE_FASTA_IDS' {
        array = { params.array_size }
    }

    withName: 'DIAMOND_CLUSTER' {
        array = { params.array_size }
    }

    withName: 'MERGE_DIAMOND' {
        array = { params.array_size }
    }

    withName: 'POSTPROCESS_DIAMOND' {
        array = { params.array_size }
    }

    withName: 'GROUP_DIAMOND' {
        array = { params.array_size }
    }

    withName: 'MERGE_ALL' {
        array = { params.array_size }
    }

    withName: 'REDUCE_IDMAP' {
        array = { params.array_size }
    }

    withName: 'MERGE_CSV' {
        array = { params.array_size }
    }

    // ----------------------
    // Ortholog scoring
    // ----------------------

    withName: 'MAKE_SCORE_TABLE' {
        array = { params.array_size }
    }

    withName: 'FILTER_HITS' {
        array = { params.array_size }
    }

    withName: 'PLOT_ORTHOLOGS' {
        array = { params.array_size }
    }

    withName: 'MAKE_HITS_TABLE' {
        array = { params.array_size }
    }

    withName: 'MERGE_HITS' {
        array = { params.array_size }
    }

    withName: 'MAKE_MERGE_TABLE' {
        array = { params.array_size }
    }

    withName: 'MERGE_MERGE' {
        array = { params.array_size }
    }

    withName: 'MAKE_STATS' {
        array = { params.array_size }
    }

    withName: 'STATS2CSV' {
        array = { params.array_size }
    }

    withName: 'MERGE_STATS' {
        array = { params.array_size }
    }

    // ----------------------
    // Report generation
    // ----------------------

    withName: 'DUMP_PARAMS' {
        array = { params.array_size }
    }

    withName: 'MAKE_REPORT' {
        array = { params.array_size }
    }

}
