/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // ----------------------
    // Ortholog finding
    // ----------------------

    withName: 'IDENTIFY_SEQ_ONLINE|WRITE_SEQINFO' {
        publishDir = [
            path: { "${params.outdir}/seqinfo/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
        errorStrategy = {task.exitStatus == 10 ? 'retry' : 'finish'}
        maxRetries = 3
    }

    withName: 'FETCH_OMA_GROUP_LOCAL|FETCH_OMA_GROUP_ONLINE' {
        publishDir = [
            path: { "${params.outdir}/orthologs/${meta.id}/oma" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
        errorStrategy = {task.exitStatus == 10 ? 'retry' : 'finish'}
        maxRetries = 3
    }

    withName: 'FETCH_PANTHER_GROUP_LOCAL|FETCH_PANTHER_GROUP_ONLINE' {
        publishDir = [
            path: { "${params.outdir}/orthologs/${meta.id}/panther" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
        errorStrategy = {task.exitStatus == 10 ? 'retry' : 'finish'}
        maxRetries = 3
    }

    withName: 'FETCH_INSPECTOR_GROUP_ONLINE' {
        publishDir = [
            path: { "${params.outdir}/orthologs/${meta.id}/orthoinspector" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
        errorStrategy = {task.exitStatus == 10 ? 'retry' : 'finish'}
        maxRetries = 3
    }

    withName: 'FETCH_EGGNOG_GROUP_LOCAL|FETCH_EGGNOG_GROUP_ONLINE' {
        publishDir = [
            path: { "${params.outdir}/orthologs/${meta.id}/eggnog" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
        errorStrategy = {task.exitStatus == 10 ? 'retry' : 'finish'}
        maxRetries = 3
    }

    // ----------------------
    // Sequence retrieval
    // ----------------------

    withName: 'SPLIT_ID_FORMAT' {
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'FETCH_UNIPROT_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}/uniprot" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'FETCH_ENSEMBL_IDMAP' {
        publishDir = [
            path: { "${params.outdir}/sequences" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'FETCH_ENSEMBL_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}/ensembl" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'FETCH_REFSEQ_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}/refseq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'FETCH_OMA_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}/oma" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'CONCAT_FASTA' {
        ext.prefix = { "${meta.id}_orthologs.txt" }
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CONCAT_HITS' {
        ext.prefix = {"${meta.id}_hits.txt"}
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'CONCAT_MISSES' {
        ext.prefix = {"${meta.id}_misses.txt"}
        publishDir = [
            path: { "${params.outdir}/sequences/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MERGE_FASTA_IDS' {
        ext.args2  = "\'/^>/ { split(\$0, arr, \"|\"); print substr(arr[1], 2) }\'"
        ext.prefix = {"${meta.id}_ids"}
        ext.suffix = "txt"
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    // ----------------------
    // ID merging
    // ----------------------

    withName: 'SPLIT_TAXIDS' {
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}/taxids" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MERGE_FASTA_IDS' {
        ext.prefix = { "${meta.id}_ids_raw" }
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'DIAMOND_CLUSTER' {
        ext.args = "--approx-id 90"
        ext.prefix = { "${meta.id}_${db.toString().tokenize(".")[0].tokenize("_")[-1]}_clusters" }
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}/clusters" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MERGE_DIAMOND' {
        ext.prefix = { "${meta.id}_pairs_raw.txt" }
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'POSTPROCESS_DIAMOND' {
        ext.args = "-F\'\\t\'"
        ext.args2 = """\'{
            split(\$1, col1, "|");
            split(\$2, col2, "|");
            if (col1[1] != col2[1]) {
                print col1[1] "\\t" col2[1];
            } else {
                print col1[1];
            }
        }\'"""
        ext.prefix = { "${meta.id}_pairs_clean" }
        ext.suffix = "txt"
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'GROUP_DIAMOND' {
        ext.args2 = "\'{if (NF == 1) a[\$1]=\$1; else for (i=2; i<=NF; i++) a[\$1]=a[\$1] \"\\t\" \$i} END {for (key in a) print a[key]}\'"
        ext.prefix = { "${meta.id}_clusters" }
        ext.suffix = "txt"
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MERGE_ALL' {
        ext.prefix = { "${meta.id}_idmap_raw.tsv" }
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'REDUCE_IDMAP' {
        ext.args = "-F\'\t\'"
        ext.args2 = "\'NF >= 2\'"
        ext.prefix = { "${meta.id}_idmap.tsv" }
        publishDir = [
            path: { "${params.outdir}/merge/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MERGE_CSV' {
        ext.args = '-f 1 --outer-join --na 0'
        publishDir = [
            path: { "${params.outdir}/score/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    // ----------------------
    // Ortholog scoring
    // ----------------------

    withName: 'MAKE_SCORE_TABLE' {
        publishDir = [
            path: { "${params.outdir}/score/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FILTER_HITS' {
        publishDir = [
            path: { "${params.outdir}/score/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'PLOT_ORTHOLOGS' {
        publishDir = [
            path: { "${params.outdir}/score/${meta.id}/plots" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MAKE_HITS_TABLE' {
        publishDir = [
            path: { "${params.outdir}/score/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MERGE_HITS' {
        ext.args = "-u 0 -k"
        ext.prefix = "aggregated_hits"
        publishDir = [
            path: { "${params.outdir}/score" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MAKE_STATS' {
        publishDir = [
            path: { "${params.outdir}/score/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'STATS2CSV' {
        publishDir = [
            path: { "${params.outdir}/score/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MERGE_STATS' {
        ext.args = "-u NA"
        ext.prefix = "aggregated_stats"
        publishDir = [
            path: { "${params.outdir}/score" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // ----------------------
    // Report generation
    // ----------------------

    withName: 'DUMP_PARAMS' {
        publishDir = [
            path: { "${params.outdir}/report/params" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.output_intermediates
        ]
    }

    withName: 'MAKE_REPORT' {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
