/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/reportho -profile test_offline,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile with offline databases'
    config_profile_description = 'Minimal test dataset to check pipeline function with offline databases'

    // Input data
    input  = pipelines_testdata_base_path + 'reportho/testdata/samplesheet/samplesheet.csv'

    // Other parameters
    offline_run       = true
    local_databases   = true
    oma_path          = pipelines_testdata_base_path + 'reportho/testdata/databases/oma-mini.txt.gz'
    oma_uniprot_path  = pipelines_testdata_base_path + 'reportho/testdata/databases/oma-uniprot-mini.txt.gz'
    oma_ensembl_path  = pipelines_testdata_base_path + 'reportho/testdata/databases/oma-ensembl-mini.txt.gz'
    oma_refseq_path   = pipelines_testdata_base_path + 'reportho/testdata/databases/oma-refseq-mini.txt.gz'
    panther_path      = pipelines_testdata_base_path + 'reportho/testdata/databases/AllOrthologs-mini.txt'
    eggnog_path       = pipelines_testdata_base_path + 'reportho/testdata/databases/1_members-mini.tsv.gz'
    eggnog_idmap_path = pipelines_testdata_base_path + 'reportho/testdata/databases/latest.Eukaryota-mini.tsv.gz'
    min_score         = 2
    skip_downstream   = true
}

